html {
  --brown: #e3dcd4;
  --brown-1: #f8f4f3;
  --brown-2: #ba9072;
  --brown-3: #836d46;
  --brown-4: #966645;
  --brown-5: #c0bab2;
}

body {
	background-color: var(--brown-1);
}

p {
	margin: 0px;
	padding: 0px;
}

a {
  color: var(--brown-3);
}

a:hover, a:focus {
  color: var(--brown-4);
  cursor: pointer;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 55px;
}

.btn-default {
  background-color: var(--brown-2);
  border-color: var(--brown-2);
}

.btn-default:hover,
.btn-default:focus {
  background-color: var(--brown-4);
  border-color: var(--brown-4);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brown);
  height: 75px;
}

.search-container > form {
  margin-bottom: 0;
  margin-left: 36px;
  border-radius: 20px;
  display: flex;
}

.search-container input {
  width: 420px;
  border-radius: 20px;
}

.search-icon {
  position: relative;
  top: 9px;
  left: -36px;
}

.form-control:focus {
  border-color: var(--brown-2);
}

.content-hidden {
  background-color: black;
  opacity: 0.529;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 90;
}

.header {
  margin-bottom: 0;
  border-bottom: 1px solid var(--brown-5);
  height: 120px;
  background-color: var(--brown-1);
  z-index: 98;
}

.header .header-icons img {
  margin-right: 15px;
}

.header a > img {
  width: 200px;
}

.header .header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 55px;
}

.header .header-main .menu-buttons {
  cursor: pointer;
}

.header .menu-buttons > button > img {
  width: 27px;
}

.header .hamburger-btn {
  border: none;
  background: transparent;
}

.header .header-main #menu-text {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--brown-3);
  font-weight: bold;
  position: relative;
  top: 2px;
}

.header .navbar-links {
  display: none;
  position: absolute;
  right: 0;
  z-index: 100;
  width: 340px;
  text-transform: uppercase;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

.header .navbar-links a:hover {
  text-decoration: none;
  background-color: var(--brown);
}

.header .navbar-links.show-menu {
  display: flex;
  flex-direction: column;
}

.header .navbar-links p {
  padding-left: 60px;
  height: 45px;
  display: flex;
  align-items: center;
}

.article-list {
  margin: 0 auto;
  max-width: 1300px;
  display: block;
  text-align: center;
}

.article {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 655px;
  vertical-align: top;
  background-color: white;
  margin: 0 15px 30px 15px;
}

.article-text-section {
  text-align: left;
  height: 300px;
  padding: 25px 20px;
}

.article-text-section > h2 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.article-text-section > h4 {
  font-size: 14px;
  margin: 0;
}

.article-category {
  position: absolute;
  left: 20px;
  top: 600px;
  text-align: left;
}

.article-img {
  min-width: 100%;
  min-height: 100%;
}

.article .img-container {
  position: relative;
  width: 270px;
  height: 335px;
  overflow: hidden;
}

.article .category-label {
  background-color: var(--brown-2);
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 20px;
  padding: 5px 15px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.article .category-label:hover {
  text-decoration: underline;
}

.article-list-pager {
  text-align: center;
  margin: 30px auto 50px auto;
}

.article-list-pager > .pager-link {
  margin: 0 5px;
  font-weight: 500;
}

.btn-pager {
  margin: 0 20px;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid var(--brown-3);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-pager.disabled {
  cursor: not-allowed;
  text-decoration: none;
  opacity: 0.5;
}

footer.navbar {
	margin-bottom: 0;
	background-color: var(--brown-2);
	border: none;
  text-transform: uppercase;
  text-align: center;
}

footer .navbar-nav {
  float: none;
  display: flex;
  justify-content: center;
}

footer.navbar .navbar-header {
  display: none;
  color: white;
}

footer .navbar-nav > li > a {
  color: white;
}

footer .navbar-nav > li > a:hover,
footer .navbar-nav > li > a:focus {
  background-color: var(--brown-4);
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.img-article-main {
	margin-right: 20px;
	width: 250px;
}

.img-article-center {
	max-width: 750px;
	display: block;
  margin-left: auto;
  margin-right: auto
}

.img-article-list {
	margin-right: 10px;
	width: 150px;
	vertical-align: left;
}

.img-article-list-horizontal {
	margin-right: 10px;
	width: 300px;
	vertical-align: left;
}

.img-event {
	max-width: 400px;
}

.static-header {
	padding-bottom: 20px; 
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

@media only screen and (max-width: 768px) {
  .content-hidden {
    top: 90px;
  }

  .header {
    height: 90px;
    position: fixed;
    width: 100%;
  }

  .header .header-main {
    margin: 0 25px;
  }

  .header .header-icons,
  .header .header-main #menu-text {
    display: none;
  }

  .search-container {
    position: relative;
    top: 90px;
  }

  .search-container form {
    margin-left: 20px;
    width: 100%;
  }

  .search-container input {
    width: 100%;
  }

  .body-content {
    position: relative;
    top: 90px;
  }

  footer {
    top: 90px;
  }

  footer.navbar .navbar-header {
    display: unset;
  }
  
  footer .navbar-nav {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}