html {
  --brown: #e3dcd4;
  --brown-1: #f8f4f3;
  --brown-2: #ba9072;
  --brown-3: #836d46;
  --brown-4: #966645;
  --brown-5: #c0bab2;
  --grey: #949494;
  --grey-2: #ebebeb;
  background-color: var(--brown-1);
}

body {
  background-color: var(--brown-1);
}

p {
	margin: 0px;
	padding: 0px;
}

a {
  color: var(--brown-3);
}

a:hover, a:focus {
  color: var(--brown-3);
  cursor: pointer;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 55px;
}

.btn-default {
  background-color: var(--brown-2);
  border-color: var(--brown-2);
}

.btn-default:hover,
.btn-default:focus {
  background-color: var(--brown-4);
  border-color: var(--brown-4);
}

.category-label {
  background-color: var(--brown-2);
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 20px;
  padding: 5px 15px;
}

.category-label:hover {
  text-decoration: underline;
  color: white;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brown);
  height: 75px;
}

.search-container > form {
  margin-bottom: 0;
  margin-left: 36px;
  border-radius: 20px;
  display: flex;
}

.search-container input {
  width: 420px;
  border-radius: 20px;
}

.search-icon {
  position: relative;
  top: 9px;
  left: -36px;
}

.form-control:focus {
  border-color: var(--brown-2);
}

.content-hidden {
  background-color: black;
  opacity: 0.529;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 90;
}

.header {
  margin-bottom: 0;
  border-bottom: 1px solid var(--brown-5);
  height: 120px;
  background-color: var(--brown-1);
  z-index: 98;
}

.header .header-icons img {
  margin-right: 15px;
}

.header a > img {
  width: 200px;
}

.header .header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 55px;
}

.header .header-main .menu-buttons {
  cursor: pointer;
}

.header .menu-buttons > button > img {
  width: 27px;
}

.header .hamburger-btn {
  border: none;
  background: transparent;
}

.header .header-main #menu-text {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--brown-3);
  font-weight: bold;
  position: relative;
  top: 2px;
}

.header .navbar-links {
  display: none;
  position: absolute;
  right: 0;
  z-index: 100;
  width: 340px;
  text-transform: uppercase;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

.header .navbar-links a:hover {
  text-decoration: none;
  background-color: var(--brown);
}

.header .navbar-links.show-menu {
  display: flex;
  flex-direction: column;
}

.header .navbar-links p {
  padding-left: 60px;
  height: 45px;
  display: flex;
  align-items: center;
}

.article-list {
  margin: 0 auto;
  max-width: 1300px;
  display: block;
  text-align: center;
}

.article-box {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 655px;
  vertical-align: top;
  background-color: white;
  margin: 0 15px 30px 15px;
}

.article-text-section {
  text-align: left;
  height: 300px;
  padding: 25px 20px;
}

.article-text-section > h2 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.article-text-section > h4 {
  font-size: 14px;
  margin: 0;
}

.article-category {
  position: absolute;
  left: 20px;
  top: 600px;
  text-align: left;
}

.article-box .article-img {
  min-width: 100%;
  min-height: 100%;
}

.article-box .img-container {
  position: relative;
  width: 270px;
  height: 335px;
  overflow: hidden;
}

.article-box .category-label {
  position: absolute;
  top: 8px;
  left: 8px;
}

.article-list-pager {
  margin: 30px auto 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-list-pager .pager-link {
  margin: 0 5px;
  font-weight: 500;
}

.btn-pager {
  margin: 0 20px;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid var(--brown-3);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-pager.disabled {
  cursor: not-allowed;
  text-decoration: none;
  opacity: 0.5;
}

.article {
  margin-top: 70px;
  display: flex;
}

.article h1 {
  text-align: left;
  text-transform: unset;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.article h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
}

.article h3 {
  font-size: 17px;
}

.article h4 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 17px;
  color: var(--grey);
}

.article .meta-content {
  width: 200px;
  vertical-align: top;
  margin-left: 55px;
  margin-right: 100px;
  font-size: 16px;
  line-height: 1.3;
}

.article .article-content {
  max-width: 800px;
  vertical-align: top;
  margin-bottom: 50px;
}

.article .article-content img {
  margin-right: 30px !important;
  margin-bottom: 20px !important;
	width: 270px;
}

.article .article-content .img-article {
  float: left;
}

.article .article-content .category-label {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.article .article-body {
  margin-top: 35px;
  text-align: justify !important;
}

.article .btn-action {
  display: block;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  color: var(--brown-2);
  background-color: var(--brown-1);
  border: 1px solid var(--brown-2);
  border-radius: 20px;
  width: 100%;
}

.article .btn-action:hover {
  color: white;
  background-color: var(--brown-2);
  border: 1px solid white;
  text-decoration: none;
}

.other-articles {
  background-color: var(--grey-2);
  padding: 50px 55px 50px 55px;
}

.other-articles h2 {
  margin: 0;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.other-articles h3 {
  margin: 50px auto;
  text-align: center;
  font-weight: 500;
}

.other-articles h3 a {
  font-weight: normal;
  text-decoration: none;
}

.other-articles-list {
  margin: 0 auto;
  max-width: 1300px;
  display: block;
  text-align: center;
}

.other-articles-box {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 125px;
  vertical-align: top;
  margin: 0 15px 30px 15px;
}

.other-articles-box .img-container {
  position: relative;
  width: 100px;
  height: 125px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}

.other-articles-box img {
  width: 120px;
  float: left;
}

.other-articles-box a {
  display: block;
  text-align: left;
}

.static-article {
  margin: 0 10% 20px 5%;
}

footer.navbar {
	margin-bottom: 0;
	background-color: var(--brown-2);
	border: none;
  text-transform: uppercase;
  text-align: center;
}

footer .navbar-nav {
  float: none;
  display: flex;
  justify-content: center;
}

footer.navbar .navbar-header {
  display: none;
  color: white;
}

footer .navbar-nav > li > a {
  color: white;
}

footer .navbar-nav > li > a:hover,
footer .navbar-nav > li > a:focus {
  background-color: var(--brown-4);
}

.img-article-center {
	max-width: 750px;
	display: block;
  margin-left: auto;
  margin-right: auto
}

.img-event {
	max-width: 400px;
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

@media only screen and (max-width: 768px) {
  .content-hidden {
    top: 90px;
  }

  .header {
    height: 90px;
    position: fixed;
    width: 100%;
  }

  .header .header-main {
    margin: 0 25px;
  }

  .header .header-icons,
  .header .header-main #menu-text {
    display: none;
  }

  .search-container {
    position: relative;
    top: 90px;
  }

  .search-container form {
    margin-left: 20px;
    width: 100%;
  }

  .search-container input {
    width: 100%;
  }

  .body-content {
    position: relative;
    top: 90px;
  }

  .article {
    margin-top: 50px;
  }

  .article .article-content {
    max-width: unset;
    margin: 0 7% 50px 7%;
  }

  .article .meta-content {
    display: none;
  }

  .article .article-body {
    margin: 0;
  }

  .article .article-content .img-article {
    float: none;
    display: block;
    margin: 20px auto!important;
  }

  .article-list-pager {
    flex-direction: column;
    margin: 0;
  }

  .other-articles {
    padding: 50px 7%;
  }

  .other-articles-box {
    margin: 0;
    margin-bottom: 30px;
  }

  .btn-pager {
    margin: 20px;
  }

  footer {
    top: 90px;
  }

  footer.navbar .navbar-header {
    display: unset;
  }
  
  footer .navbar-nav {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}