html {
	--brown: #e3dcd4;
  --brown-2: #ba9072;
  --brown-3: #836d46;
  --brown-4: #966645;
}

body {
	background-color: #f8f4f3;
	padding-top: 30px;
}

a {
  color: var(--brown-3);
}

a:hover, a:focus {
  color: var(--brown-4);
  cursor: pointer;
}

.btn-default {
  background-color: var(--brown-2);
  border-color: var(--brown-2);
}

.btn-default:hover,
.btn-default:focus {
  background-color: var(--brown-4);
  border-color: var(--brown-4);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brown);
  height: 75px;
}

.search-container > form {
  margin-bottom: 0;
  width: 420px;
  border-radius: 20px;
  display: flex;
}

.search-container input {
  border-radius: 20px;
}

.search-icon {
  position: relative;
  top: 9px;
  left: -36px;
}

.form-control:focus {
  border-color: var(--brown-2);
}

footer.navbar {
	margin-bottom: 0;
	background-color: var(--brown-2);
	border: none;
  text-transform: uppercase;
  text-align: center;
}

footer .navbar-nav {
  float: none;
  display: flex;
  justify-content: center;
}

footer.navbar .navbar-header {
  display: none;
  color: white;
}

footer .navbar-nav > li > a {
  color: white;
}

footer .navbar-nav > li > a:hover,
footer .navbar-nav > li > a:focus {
  background-color: var(--brown-4);
}

p {
	margin: 0px;
	padding: 0px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.img-article-main {
	margin-right: 20px;
	width: 250px;
}

.img-article-center {
	max-width: 750px;
	display: block;
  margin-left: auto;
  margin-right: auto
}

.img-article-list {
	margin-right: 10px;
	width: 150px;
	vertical-align: left;
}

.img-article-list-horizontal {
	margin-right: 10px;
	width: 300px;
	vertical-align: left;
}

.img-event {
	max-width: 400px;
}

.img-mainpage {
	max-width: 250px;
}

.static-header {
	padding-bottom: 20px; 
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

@media only screen and (max-width: 768px) {
  footer.navbar .navbar-header {
      display: unset;
  }
  
  footer .navbar-nav {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}